@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

.scroll-down-indicator {
  position: relative;
  overflow: hidden;
}

.scroll-down-indicator > div {
  position: absolute;
  transform: translateY(-100%);
  animation: scroll-down 1.5s infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

.btn-blue {
  border-image: radial-gradient(
      100% 185.14% at 100% 100%,
      rgb(52, 195, 255) 0%,
      rgb(51, 142, 238) 100%
    )
    5 / 2px / 0 stretch;
  transition: all 0.25s cubic-bezier(0, 0.42, 0.2, 0.99) 0s;
  cursor: pointer;
}

.btn-blue:hover {
  border-image: radial-gradient(100% 100% at 100% 100%, rgb(0, 171, 245) 0%, rgb(0, 171, 245) 100%)
    5 / 1 / 0 stretch;
}

.features-item {
  transition: all 0.8s ease-in-out;
  opacity: 0;
  transform: translateY(2rem);
}

.item-hidden {
  opacity: 0;
  transform: translateY(2rem);
}

.features-item:nth-child(odd) {
  align-self: flex-start;
}

.features-item:nth-child(even) {
  align-self: flex-end;
}

.features-item .text {
  padding-bottom: 2rem;
}

.features-item:nth-child(odd) .text {
  text-align: left;
  padding-left: 2rem;
  padding-right: 0;
}

.features-item:nth-child(even) .text {
  text-align: right;
  padding-right: 2rem;
  padding-left: 0;
}

.news-title {
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.item-visible {
  opacity: 1;
  transform: translateY(0);
}
